*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
}
body{
    background: url(images/nate-grant-QQ9LainS6tI-unsplash.jpg);
    color: #fff;
    background-size: cover;
    background-position: center;
    position: relative;
}

#header{
    width: 100%;
    height: 100vh;
   
}

.logo{
    width: 140px;
}
/* nav */
nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: rgb(95, 94, 94);
}
/* nav */

/* header-text */
.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
    font-family: "Helvetica Neue";

}
.header-text h1{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}
/* header-text */

/* about */
.about {
    display:flex;
    align-items: center;
    justify-content: center;
    

   }
   
   img {
     max-width: 100%;
     max-height:100%;

    
   }
   #about-text {
    font-size: 18px;
    font-weight: 500;
    margin: 0 20px;
    text-align: center;
   }
/* resume */
#resume_header{
    text-align: center;
    font-size: 60px;
    
}

#Resume{
    height: 700px;
    width: 100%;
}

#contact {
    color: #fff;
    padding: 20px;
    text-align: center;
}
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.success {
    color: green;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer {
    padding: 20px;
    text-align: center;
}


.footer {
    
    padding: 20px;
    text-align: center;
}
/* social media */
.social-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin: 0 10px;
}

.social-links li a {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}